body
{
	background: rgb(217, 100, 100);
}

	.login_div1 , .login_div2
	{
		background: greenyellow;
		padding: 10px;
		float: none;
		border-radius: 20px;
	}


#player1Name , #player2Name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#wordDisplay
{
	letter-spacing: 5px;
}
#output
{
background: red;
border-radius: 10px;
border-top: 10px solid #33d0ec;
padding: 10px;
float: none;
text-align: left;
}

#Jogo{

color: cornflowerblue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
}

#login { 

    background-color: gold;
    border-radius: 100px;
    border-color: aqua;
}

#output{

	background:white ;
	border-radius:10px ;
	border-top: 10px solid #AA4465;
	padding:10px ;
	float:none ;
	text-align:left;
}